body { height: 100%; }

#container {
  position: relative;
  left: 200px;
  top: 20px;
  width: 1200px;
  background-color: black;
}

#cards {
  position: relative;
  width: 1000px;
  background-color: grey;
  padding: 10px;
  margin: 10px;
}

#cards_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
}

.card {
  padding: 10px;
  margin: 20px;
  height: 180px;
  width: 300px;
  background-color: red;
}

#pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  height: 100px;
  width: 100%;
}

#pages {
  width: 80%;
  height: 50px;
  margin: 10px;
  background-color: yellow;
}
