.LazyLoad {
  height: 180px;
}

.card {
  padding: 10px;
  margin: 20px;
  height: 280px;
  width: 250px;
  float: left;
}

.thumbnail {
  height: 180px;
}

.thumbnail img {
  height: 100%;
  width: 100%;
}

.title {
  height: 100px;
  background-color: #DDDDDD;
}

.title p {
  margin: 0;
  color: black;
  padding: 10px;
}

