.LazyLoad {
  height: 180px;
}

.card {
  padding: 10px;
  margin: 20px;
  height: 280px;
  width: 300px;
}

.thumbnail {
  height: 180px;
}

.thumbnail img {
  height: 100%;
  width: 100%;
}

.title {
  height: 100px;
}

.title p {
  color: black;
  padding: 10px;
}

