#cards {
  position: relative;
  width: 1000px;
  background-color: grey;
  padding: 10px;
  margin: 10px;
}

#cards_container {
  margin: 0px 80px;
}

#cards .sort {
  display: flex;
  justify-content: flex-end;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
}
