#cards {
  position: relative;
  width: 1000px;
  padding: 10px;
  margin: 10px;
}

#cards_container {
  width: 1050px;
  margin: 25px auto;
}

#cards .sort {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

#cards .sort:visited {
  color: black;
}

#cards .sort .fa {
  padding-left: 5px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
