#pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  height: 100px;
  width: 100%;
}

#pages {
  width: 80%;
  height: 50px;
  margin: 10px;
  background-color: yellow;
}
